html {
    overflow-x: hidden;
}

.navbar-brand {
    margin-left: 20px;
    padding-right: 20px;
}
.nav-item {
    margin-left: 20px;
}

.trailer {
    z-index: -1;
    display: flex;
    justify-content: center;
    background-color: black;
    /* height: calc(100vh - navbarHeight); defined in js */
}
video {
    min-width: 100vw;
    object-fit: cover;
    opacity: 70%;
}

.home {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: calc(0.5*(100vh - navbarHeight)) */
    
    text-align: center;
    color: white;
}
.home h1 {
    font-weight: bold;
}
.home a {
    padding: 10px 20px;
    border-radius: 50px;
}

.list-events {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.event {
    margin: 20px;
    max-width: 800px;
    /* width: 50%; */
}
.event .card-img-top {
    height: 200px;
    object-fit: cover;
}
.event .card-header {
    position: absolute;

    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    width: 100%;
    height: 200px;

    background: linear-gradient(transparent, #222);
    color: white;
}
.event .event-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100px;
}
/* 
.event .event-title {
    font-weight: bold;
    font-size: 45px;
}
.event .event-date {
    font-size: 25px;
} */
.event .logo {
    max-width: 100px;
    max-height: 100px;
}
.event .event-footer {
    display: flex;
    align-items: center;
    gap: 20px;
}